body {
    background-color: #b0c4de;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    height: 90vh;
    aspect-ratio: 120/280;
    background: #e9e8df;
    position: relative;
}

.canvasContainer {
    display: grid;
}


.canvas {
    direction: ltr;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.mobileExp {
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    opacity: 0.25;
}

.controlButton {
    color: rgb(31, 31, 31);
    border: #0a4e57 3px solid;
    background-color: whitesmoke;
    font-size: 3vh;
}

.title {
    font-size: 6vh;
}


.pDescription {
    margin-top: 0px;
    font-size: 2vh;
}



.subTitle {
    font-size: 3vh;
}

/* .controlContainer {} */